In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../BasesDados/census.csv')
df

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
x_census = df.iloc[:,0:14].values
y_census = df.iloc[:,14].values

x_census.shape, y_census.shape

((32561, 14), (32561,))

In [5]:
y_census

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
label_workclass = LabelEncoder()
label_education = LabelEncoder()
label_marital = LabelEncoder()
label_occupation = LabelEncoder()
label_relationship = LabelEncoder()
label_race = LabelEncoder()
label_sex = LabelEncoder()
label_country = LabelEncoder()

In [8]:
x_census[:,1] = label_workclass.fit_transform(x_census[:,1])
x_census[:,3] = label_education.fit_transform(x_census[:,3])
x_census[:,5] = label_marital.fit_transform(x_census[:,5])
x_census[:,6] = label_occupation.fit_transform(x_census[:,6])
x_census[:,7] = label_relationship.fit_transform(x_census[:,7])
x_census[:,8] = label_race.fit_transform(x_census[:,8])
x_census[:,9] = label_sex.fit_transform(x_census[:,9])
x_census[:,13] = label_country.fit_transform(x_census[:,13])

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
scaler = StandardScaler()
x_census = scaler.fit_transform(x_census)

x_census

array([[ 0.03067056,  2.15057856, -1.06361075, ..., -0.21665953,
        -0.03542945,  0.29156857],
       [ 0.83710898,  1.46373585, -1.008707  , ..., -0.21665953,
        -2.22215312,  0.29156857],
       [-0.04264203,  0.09005041,  0.2450785 , ..., -0.21665953,
        -0.03542945,  0.29156857],
       ...,
       [ 1.42360965,  0.09005041, -0.35877741, ..., -0.21665953,
        -0.03542945,  0.29156857],
       [-1.21564337,  0.09005041,  0.11095988, ..., -0.21665953,
        -1.65522476,  0.29156857],
       [ 0.98373415,  0.77689313,  0.92989258, ..., -0.21665953,
        -0.03542945,  0.29156857]])

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_treinamento, x_teste, y_treinamento, y_teste = train_test_split(x_census, y_census, test_size=0.15, random_state=0)
x_treinamento.shape, x_teste.shape

((27676, 14), (4885, 14))

In [13]:
from sklearn.decomposition import KernelPCA

In [14]:
kpca = KernelPCA(n_components=8, kernel='rbf')

In [15]:
x_treinamento_kpca = kpca.fit_transform(x_treinamento)
x_teste_kpca = kpca.transform(x_teste)

In [16]:
x_treinamento_kpca.shape, x_teste_kpca.shape

((27676, 8), (4885, 8))

In [17]:
x_treinamento_kpca

array([[ 0.18894283,  0.05517031, -0.08653531, ...,  0.41350358,
         0.06383854, -0.25147161],
       [ 0.16165577, -0.07855932, -0.03858728, ..., -0.01994034,
        -0.00338877, -0.29452204],
       [-0.085163  , -0.27486159,  0.12920466, ...,  0.19029531,
         0.04692292,  0.13187157],
       ...,
       [-0.27872683,  0.40033469,  0.20104327, ..., -0.17392304,
        -0.16108872,  0.00683154],
       [ 0.21829898, -0.12392098, -0.02312817, ..., -0.12231089,
         0.33364887,  0.25177643],
       [ 0.24961467,  0.42418174,  0.12141394, ..., -0.00408799,
        -0.18258341, -0.08239723]])

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
rfc = RandomForestClassifier(n_estimators = 40, criterion = 'entropy', random_state = 0)

In [20]:
rfc.fit(x_treinamento_kpca, y_treinamento)

RandomForestClassifier(criterion='entropy', n_estimators=40, random_state=0)

In [21]:
previsoes = rfc.predict(x_teste_kpca)
previsoes

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [22]:
y_teste

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' <=50K'],
      dtype=object)

In [23]:
from sklearn.metrics import accuracy_score

In [25]:
accuracy_score(y_teste, previsoes)

0.8235414534288639