## Principal Component Analysis

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../BasesDados/census.csv')

In [3]:
df

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
x_census = df.iloc[:,0:14].values
y_census = df.iloc[:,14].values

In [5]:
x_census.shape, y_census.shape

((32561, 14), (32561,))

In [6]:
y_census

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
label_workclass = LabelEncoder()
label_education = LabelEncoder()
label_marital = LabelEncoder()
label_occupation = LabelEncoder()
label_relationship = LabelEncoder()
label_race = LabelEncoder()
label_sex = LabelEncoder()
label_country = LabelEncoder()

In [9]:
x_census[:,1] = label_workclass.fit_transform(x_census[:,1])
x_census[:,3] = label_education.fit_transform(x_census[:,3])
x_census[:,5] = label_marital.fit_transform(x_census[:,5])
x_census[:,6] = label_occupation.fit_transform(x_census[:,6])
x_census[:,7] = label_relationship.fit_transform(x_census[:,7])
x_census[:,8] = label_race.fit_transform(x_census[:,8])
x_census[:,9] = label_sex.fit_transform(x_census[:,9])
x_census[:,13] = label_country.fit_transform(x_census[:,13])

In [10]:
x_census[0]

array([39, 7, 77516, 9, 13, 4, 1, 1, 4, 1, 2174, 0, 40, 39], dtype=object)

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
scaler = StandardScaler()
x_census = scaler.fit_transform(x_census)

In [13]:
x_census

array([[ 0.03067056,  2.15057856, -1.06361075, ..., -0.21665953,
        -0.03542945,  0.29156857],
       [ 0.83710898,  1.46373585, -1.008707  , ..., -0.21665953,
        -2.22215312,  0.29156857],
       [-0.04264203,  0.09005041,  0.2450785 , ..., -0.21665953,
        -0.03542945,  0.29156857],
       ...,
       [ 1.42360965,  0.09005041, -0.35877741, ..., -0.21665953,
        -0.03542945,  0.29156857],
       [-1.21564337,  0.09005041,  0.11095988, ..., -0.21665953,
        -1.65522476,  0.29156857],
       [ 0.98373415,  0.77689313,  0.92989258, ..., -0.21665953,
        -0.03542945,  0.29156857]])

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_treinamento, x_teste, y_treinamento, y_teste = train_test_split(x_census, y_census, test_size=0.15, random_state=0)

In [16]:
x_treinamento.shape, x_teste.shape

((27676, 14), (4885, 14))

In [17]:
from sklearn.decomposition import PCA

In [18]:
pca = PCA(n_components=8)

In [19]:
x_treino_pca = pca.fit_transform(x_treinamento)
x_teste_pca = pca.transform(x_teste)

In [20]:
x_treino_pca.shape, x_teste_pca.shape

((27676, 8), (4885, 8))

In [21]:
x_treino_pca

array([[ 0.72756979, -0.63707837, -0.92959677, ...,  0.4750941 ,
         1.26767572, -0.70907366],
       [ 1.94861194,  0.52336888, -0.11546966, ...,  0.20608772,
        -0.28547192, -1.10996543],
       [ 0.90984576, -0.49631087,  0.21043617, ...,  0.22000605,
         1.54790866, -0.6082255 ],
       ...,
       [-1.55068874,  1.8706316 , -1.18829813, ..., -0.15217589,
        -1.23888631,  0.23631102],
       [ 1.50148337,  0.90027   ,  1.39911867, ...,  0.83827868,
        -0.03400375,  0.51140853],
       [ 0.39972037,  0.73809833, -0.78746921, ...,  0.39215363,
        -0.75329109, -0.00358243]])

In [22]:
pca.explained_variance_ratio_

array([0.151561  , 0.10109701, 0.08980379, 0.08076277, 0.07627678,
       0.07357646, 0.06772289, 0.06690789])

In [23]:
pca.explained_variance_ratio_.sum()

0.707708594319935

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
rfc = RandomForestClassifier(n_estimators = 40, criterion = 'entropy', random_state = 0)
rfc.fit(x_treino_pca, y_treinamento)

RandomForestClassifier(criterion='entropy', n_estimators=40, random_state=0)

In [26]:
previsoes = rfc.predict(x_teste_pca)
previsoes

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [27]:
y_teste

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' <=50K'],
      dtype=object)

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
accuracy_score(previsoes, y_teste)

0.8372569089048106