In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('../BasesDados/house_prices.csv')

In [23]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [24]:
x_casas = df.iloc[:, 3:19].values
x_casas

array([[ 3.00000e+00,  1.00000e+00,  1.18000e+03, ...,  9.81780e+04,
         4.75112e+01, -1.22257e+02],
       [ 3.00000e+00,  2.25000e+00,  2.57000e+03, ...,  9.81250e+04,
         4.77210e+01, -1.22319e+02],
       [ 2.00000e+00,  1.00000e+00,  7.70000e+02, ...,  9.80280e+04,
         4.77379e+01, -1.22233e+02],
       ...,
       [ 2.00000e+00,  7.50000e-01,  1.02000e+03, ...,  9.81440e+04,
         4.75944e+01, -1.22299e+02],
       [ 3.00000e+00,  2.50000e+00,  1.60000e+03, ...,  9.80270e+04,
         4.75345e+01, -1.22069e+02],
       [ 2.00000e+00,  7.50000e-01,  1.02000e+03, ...,  9.81440e+04,
         4.75941e+01, -1.22299e+02]])

In [25]:
y_casas = df.iloc[:, 2].values
y_casas

array([221900., 538000., 180000., ..., 402101., 400000., 325000.])

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_treino, x_teste, y_treino, y_teste = train_test_split(x_casas, y_casas, test_size=0.3, random_state=0)

In [28]:
x_treino.shape, x_teste.shape

((15129, 16), (6484, 16))

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
regressor_multiplo = LinearRegression()

In [31]:
regressor_multiplo.fit(x_treino, y_treino)

LinearRegression()

In [32]:
regressor_multiplo.intercept_ # inicio da linha de regressao

5736222.703414404

In [33]:
regressor_multiplo.coef_

array([-3.08423090e+04,  3.66540816e+04,  1.12179159e+02,  8.00604121e-03,
        9.60355724e+03,  5.85441638e+05,  5.60621840e+04,  2.54795004e+04,
        1.01092121e+05,  6.96565320e+01,  4.25226266e+01, -2.60724691e+03,
        1.40070753e+01, -5.53557431e+02,  6.11778251e+05, -1.95564688e+05])

In [34]:
len(regressor_multiplo.coef_)

16

In [35]:
regressor_multiplo.score(x_treino, y_treino)

0.7029888085955016

In [36]:
regressor_multiplo.score(x_teste, y_teste)

0.6885414149062143

In [37]:
previsoes = regressor_multiplo.predict(x_teste)
previsoes

array([ 383751.77768686, 1514216.17517457,  546921.96179101, ...,
        314968.5762328 ,  219405.55573558,  148128.83467045])

In [38]:
y_teste

array([ 297000., 1578000.,  562100., ...,  380000.,  268000.,  206000.])

In [39]:
from sklearn.metrics import mean_absolute_error

In [40]:
mean_absolute_error(y_teste, previsoes)

123888.4437748424