In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../BasesDados/house_prices.csv')

In [3]:
display(df)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [12]:
x_casas = df.iloc[:, 3:19].values
x_casas

array([[ 3.00000e+00,  1.00000e+00,  1.18000e+03, ...,  9.81780e+04,
         4.75112e+01, -1.22257e+02],
       [ 3.00000e+00,  2.25000e+00,  2.57000e+03, ...,  9.81250e+04,
         4.77210e+01, -1.22319e+02],
       [ 2.00000e+00,  1.00000e+00,  7.70000e+02, ...,  9.80280e+04,
         4.77379e+01, -1.22233e+02],
       ...,
       [ 2.00000e+00,  7.50000e-01,  1.02000e+03, ...,  9.81440e+04,
         4.75944e+01, -1.22299e+02],
       [ 3.00000e+00,  2.50000e+00,  1.60000e+03, ...,  9.80270e+04,
         4.75345e+01, -1.22069e+02],
       [ 2.00000e+00,  7.50000e-01,  1.02000e+03, ...,  9.81440e+04,
         4.75941e+01, -1.22299e+02]])

In [13]:
y_casas = df.iloc[:, 2].values
y_casas # preco das casas

array([221900., 538000., 180000., ..., 402101., 400000., 325000.])

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_treinamento, x_teste, y_treinamento, y_teste = train_test_split(x_casas, y_casas, test_size=0.3, random_state=0)

In [23]:
x_treinamento.shape

(15129, 16)

In [24]:
x_teste.shape

(6484, 16)

In [25]:
from sklearn.preprocessing import PolynomialFeatures

In [26]:
poly = PolynomialFeatures(degree=2)

In [27]:
x_treinamentoPoly = poly.fit_transform(x_treinamento)

In [28]:
x_testePloy = poly.transform(x_teste)

In [29]:
x_treinamentoPoly.shape

(15129, 153)

In [30]:
x_testePloy.shape

(6484, 153)

In [31]:
from sklearn.linear_model import LinearRegression

In [32]:
regressor_casasPoly = LinearRegression()
regressor_casasPoly.fit(x_treinamentoPoly, y_treinamento)

LinearRegression()

In [33]:
regressor_casasPoly.score(x_treinamentoPoly, y_treinamento)

0.8179393211228992

In [34]:
regressor_casasPoly.score(x_testePloy, y_teste)

0.8153400098995593

In [35]:
previsoes = regressor_casasPoly.predict(x_testePloy)

In [36]:
previsoes

array([ 386511.55485535, 1990814.4158783 ,  578824.15898132, ...,
        433146.82847595,  234282.00984192,  123653.67539978])

In [37]:
y_teste

array([ 297000., 1578000.,  562100., ...,  380000.,  268000.,  206000.])

In [39]:
from sklearn.metrics import mean_absolute_error

In [40]:
mean_absolute_error(y_teste, previsoes)

101223.19287563326